In [1]:
import torch
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score

import pandas as pd
import numpy as np
np.random.seed(0)

import os
import wget
from pathlib import Path

from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [5]:
data["TARGET"] = data["ACTION"]
data = data.drop(["ACTION"], axis=1)

In [8]:
features = [ col for col in data.columns if col != "TARGET"] 
for feat in features:
    data[feat] = LabelEncoder().fit_transform(data[feat])

In [9]:
data.head()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,TARGET
0,3050,3862,21,64,307,4,7,64,4,1
1,644,156,21,68,299,34,59,66,38,1
2,2706,1533,50,57,14,0,2083,3,0,1
3,2615,867,21,68,181,22,1901,64,23,1
4,3616,941,15,13,157,70,325,4,77,1